.endbody {
    display: flex;
    width: 100%;
    z-index: 5;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.imgcontainer {
    padding-top: 1%;
    padding-left: 8%;
}

.endlogo {
    display: flex;
    width: 4vw;
}

.endtext {
    color: white;
    padding-top: 2%;
    padding-right: 5%;
}

@media(max-width:1200px) {
    .endlogo {
        width: 12vw
    }
    .endtext {
        font-size: 4vw;
        padding-left: 10%;
    }
}